<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/paymentfont.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>BeHealthy – Coronavirus Medical Prevention, Online Pharmacy Template</title>

</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<a data-scroll href="#home" class="header__logo">
							<img src="img/logo.svg" alt="">
						</a>

						<nav class="header__nav">
							<a data-scroll href="#catalog">Catalog</a>
							<a data-scroll href="#cart">Cart</a>
							<a data-scroll href="#about">About</a>
						</nav>

						<div class="header__wrap">
							<div class="header__phone">
								<a href="tel:88001234567">8 800 123 45 67</a>
								<span>The call is free</span>
							</div>

							<a data-scroll href="#cart" class="header__cart">
								<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><circle cx="176" cy="416" r="16" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></circle><circle cx="400" cy="416" r="16" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></circle><polyline points="48 80 112 80 160 352 416 352" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></polyline><path d="M160,288H409.44a8,8,0,0,0,7.85-6.43l28.8-144a8,8,0,0,0-7.85-9.57H128" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path></svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->

	<!-- home -->
	<section class="section section--home" id="home">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="home">
						<div class="row">
							<div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5">
								<div class="home__content">
									<h1 class="home__title">Coronavirus<br> Medical Prevention</h1>
									<p class="home__text">BeHealthy is a good choice for all medical facilities, online pharmacy, raise awareness of (2019-nCoV). Template is optimized and fully responsive.</p>
									<a data-scroll href="#catalog" class="home__btn">PROTECT MYSELF</a>
								</div>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	<!-- section -->
	<section class="section" id="catalog">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- section title -->
					<h2 class="section__title">Catalog</h2>
					<!-- end section title -->

					<!-- section sort -->
					<div class="section__sort">
						<button class="active" type="button" data-group="all">All</button>
						<button type="button" data-group="category1">Medical masks</button>
						<button type="button" data-group="category2">Antiseptics</button>
						<button type="button" data-group="category3">Medical gloves</button>
						<button type="button" data-group="category4">Drugs</button>
					</div>
					<!-- end section sort -->
				</div>
			</div>

			<!-- grid -->
			<div class="row row--grid">
				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category1"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/2.jpg">
						</div>
						<h3 class="product__title">Medical mask PM 2.5 95+</h3>
						<span class="product__price">$14</span>
						<button class="product__add" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category2"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/4.jpg">
						</div>
						<h3 class="product__title">Antiseptic HS 0.5</h3>
						<span class="product__price">$57</span>
						<button class="product__add" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category3"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/6.jpg">
						</div>
						<h3 class="product__title">Medical gloves</h3>
						<span class="product__price">$3</span>
						<button class="product__add product__add--true" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><polyline points='352 176 217.6 336 160 272' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category2"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/5.jpg">
						</div>
						<h3 class="product__title">Hygiene kit</h3>
						<span class="product__price">$89</span>
						<button class="product__add" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category4"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/7.jpg">
						</div>
						<h3 class="product__title">Daily prophylactic kit (7)</h3>
						<span class="product__price">$189</span>
						<button class="product__add product__add--true" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><polyline points='352 176 217.6 336 160 272' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category1"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/1.jpg">
						</div>
						<h3 class="product__title">Medical mask PM 1.5 65+</h3>
						<span class="product__price">$10</span>
						<button class="product__add" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category4"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/8.jpg">
						</div>
						<h3 class="product__title">PLZT 10</h3>
						<span class="product__price">$2</span>
						<button class="product__add" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category4"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/9.jpg">
						</div>
						<h3 class="product__title">Aspirin</h3>
						<span class="product__price">$0.99</span>
						<button class="product__add" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-4" data-groups='["all", "category1"]'>
					<div class="product">
						<div class="product__img" data-bg="img/products/3.jpg">
						</div>
						<h3 class="product__title">Medical mask PM 3.0 80+</h3>
						<span class="product__price">$12</span>
						<button class="product__add" type="button">
							<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
						</button>
					</div>
				</div>
			</div>
			<!-- grid -->
		</div>
	</section>
	<!-- end section -->
	
	<!-- section -->
	<section class="section" id="cart">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- section title -->
					<h2 class="section__title">Cart (2)</h2>
					<!-- end section title -->
				</div>

				<!-- cart -->
				<div class="col-12">
					<div class="cart">
						<div class="table-responsive">
							<table class="cart__table">
								<thead>
									<tr>
										<th>Product</th>
										<th>Title</th>
										<th>Quantity</th>
										<th>Price</th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td><div class="cart__img"><img src="img/products/6.jpg" alt=""></div></td>
										<td>Medical gloves</td>
										<td>
											<div class="cart__quantity">
												<button type="button">
													<i class="ion ion-ios-remove"></i>
												</button>
												<input type="text" value="5">
												<button type="button">
													<i class="ion ion-ios-add"></i>
												</button>
											</div>
										</td>
										<td><span class="cart__price">$15</span></td>
										<td><button class="cart__delete" type="button"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><line x1='368' y1='368' x2='144' y2='144' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='368' y1='144' x2='144' y2='368' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></button></td>
									</tr>
									<tr>
										<td><div class="cart__img"><img src="img/products/7.jpg" alt=""></div></td>
										<td>Daily prophylactic kit (7)</td>
										<td>
											<div class="cart__quantity">
												<button type="button">
													<i class="ion ion-ios-remove"></i>
												</button>
												<input type="text" value="3">
												<button type="button">
													<i class="ion ion-ios-add"></i>
												</button>
											</div>
										</td>
										<td><span class="cart__price">$567</span></td>
										<td><button class="cart__delete" type="button"><svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><line x1='368' y1='368' x2='144' y2='144' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='368' y1='144' x2='144' y2='368' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></button></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="cart__info">
							<div class="cart__total">
								<p>Total:</p>
								<span>$582.00</span>
							</div>

							<div class="cart__systems">
								<i class="pf pf-visa"></i>
								<i class="pf pf-mastercard"></i>
								<i class="pf pf-paypal"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- end cart -->
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- section -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- section title -->
					<h2 class="section__title">Checkout</h2>
					<!-- end section title -->
				</div>

				<!-- checkout -->
				<div class="col-12 col-lg-8">
					<form action="#" class="checkout">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form__group">
									<input type="text" placeholder="John Doe">
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="form__group">
									<input type="text" placeholder="BeHealthy@template.buy">
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="form__group">
									<input type="text" placeholder="+1 (809) 123 - 45 - 67">
								</div>
							</div>

							<div class="col-12 col-md-6">
								<div class="form__group form__group--select">
									<select>
										<option value="0" disabled selected>Time of delivery</option>
										<option value="2">5:00pm - 6:00pm</option>
										<option value="3">6:00pm - 7:00pm</option>
										<option value="3">7:00pm - 8:00pm</option>
									</select>
								</div>
							</div>

							<div class="col-12">
								<div class="form__group">
									<textarea placeholder="Delivery address"></textarea>
								</div>
							</div>

							<div class="col-12">
								<button class="form__btn" type="button">Complete</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end checkout -->

				<!-- contacts -->
				<div class="col-12 col-lg-4">
					<div class="contacts">
						<h3 class="contacts__title">Free Shipping</h3>
						<p class="contacts__text">Free delivery in Moscow and <br>the Moscow region</p>
					</div>

					<div class="contacts">
						<h3 class="contacts__title"><a href="mailto:behealthy@supp.com">Supp@BeHealthy.com</a></h3>
						<p class="contacts__text">Our contact E-mail</p>
					</div>

					<div class="contacts">
						<h3 class="contacts__title contacts__title--phone"><a href="tel:88001234567">8 800 123 45 67</a></h3>
						<p class="contacts__text">Free calls in Moscow and <br>the Moscow region</p>
					</div>
				</div>
				<!-- end contacts -->
			</div>
		</div>
	</section>
	<!-- end section -->	

	<!-- section -->
	<section class="section" id="about">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- section title -->
					<h2 class="section__title">About <b>BeHealthy</b></h2>
					<!-- end section title -->

					<!-- section text -->
					<p class="section__text">BeHealthy – Coronavirus Medical Prevention, Online Pharmacy HTML Template. BeHealthy is a good choice for all medical facilities, <b>online pharmacy</b>, raise awareness of (2019-nCoV). Template is optimized and fully responsive, SEO optimised, based on Bootstrap 4.x, have clean code and speed fast.</p>
					<!-- end section text -->
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<h6 class="footer__copyright">©Copyright ECONOMIC Todos los derechos reservados.</h6>

						<div class="footer__social">
							<a class="facebook" href="#"><i class="ion ion-logo-facebook"></i></a>
							<a class="instagram" href="#"><i class="ion ion-logo-instagram"></i></a>
							<a class="twitter" href="#"><i class="ion ion-logo-twitter"></i></a>
							<a class="vk" href="#"><i class="ion ion-logo-vk"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/shuffle.min.js"></script>
	<script src="js/smooth-scroll.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>